.navbar-custom {
	background-color: #252422;
	background-color: rgba(37, 36, 34, 1);
}

.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237, 236, 235)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
border-color: rgb(237, 236, 235);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	font-family: helvetica;
	font-size: 14px;
	letter-spacing: 4.4px;
	color: #EDECEB;
	color: rgb(237, 236, 235);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	font-family: helvetica;
	font-size: 14px;
	letter-spacing: 4.4px;
	color: #EDECEB;
	color: rgb(237, 236, 235);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	font-family: helvetica;
	font-size: 15px;
	letter-spacing: 4.4px;
	color: #EDECEB;
	color: rgb(237, 236, 235);
}

/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu {
	background-color: #EDECEB;
}

/* dropdown item text color */
.navbar-custom .navbar-nav .dropdown-item {
	color: #EDECEB;
}

/* dropdown item hover or focus */
.navbar-custom .navbar-nav .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-item:focus {
	color: #EDECEB;
	background-color: #252422;
}
.arc_buttons{
	width : 110px;
	height : 35px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: Helvetica;
	font-size: 14px;
	color: #EDECEB;
	 background-color: #252422;
    background-color: rgba(37, 36, 34, 1);
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 6px;
}

input{
	padding: 20px;
	width: 100%;
	font-size: 16px;
	border-radius: 3px;
	background: #EDECEB;
	background: rgba(237, 236, 235, 1);
	border-style: Solid;
	border-color: #403D39;
	border-color: rgba(64, 61, 57, 1);
	border-width: 1px;
	height: 46px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
select{
	font-family : Helvetica;
	width: 100%;
	font-size: 16px;
	border-radius: 3px;
	background: #EDECEB;
	background: rgba(237, 236, 235, 1);
	border-style: Solid;
	border-color: #403D39;
	border-color: rgba(64, 61, 57, 1);
	border-width: 1px;
	height: 46px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

thead {
	font-family : Helvetica;
	font-size : 18px;
	color : #22333B;
	color : rgb(34, 51, 59);
}
tbody {
	font-family: Monaco;
	font-size : 15px;
	color : #22333B;
	color : rgb(34, 51, 59);
}

  .main_card__icon{
    align-self: baseline;
    font-family: Helvetica;
    font-size: 20px;
    color: #22333B;
    color: rgb(34, 51, 59);
  }
    .overviewcard__icon{
    align-self: baseline;
    font-family: Helvetica;
    font-size: 20px;
    color: #22333B;
    color: rgb(34, 51, 59);
  }