{% extends 'base.html' %}
{% load schedule_display %}
{% load climate_display %}
{% load static %}
{% block content %}
<link href="{% static 'css/schedule.css' %}" rel="stylesheet">
<div class="grid-container">
	<main class="main">
		<div class="main-overview">
			<div class="overviewcard">
				<div class="overviewcard__icon">LIGHTING</div>
				{% if gpio_14_state == 1 %}
				<span class="badge badge-pill" style="border-radius: 40px;
							background: #EDECEB;
							border: 2px solid #252422;
							color:#252422; width: fit-content;">ON</span>
				{% else %}
				<span class="badge badge-pill" style="border-radius: 40px;
							background: #252422;
							border: 2px solid #252422;
							color: #EDECEB; width: fit-content;">OFF</span>
				{% endif %}
				<div class="overviewcard__info">
					{% current_lighting_schedule %}
				</div>
				{% gpio_14_state %}
			</div>
			<div class="overviewcard">
				<div class="overviewcard__icon">WATERING</div>
				{% if gpio_15_state == 1 %}
				<span class="badge badge-pill" style="border-radius: 40px;
						    background: #EDECEB;
						    border: 2px solid #252422;
						    color:#252422; width: fit-content;">ON</span>
				{% else %}
				<span class="badge badge-pill" style="border-radius: 40px;
						    background: #252422;
						    border: 2px solid #252422;
						    color: #EDECEB; width: fit-content;">OFF</span>
				{% endif %}
				<div class="overviewcard__info">
					{% current_watering_schedule %}
				</div>
				{% gpio_15_state %}
			</div>
			<div class="overviewcard">
				<div class="overviewcard__icon">CLIMATE</div>
				{% if gpio_17_state == 1 %}
				<span class="badge badge-pill" style="border-radius: 40px;
										    background: #EDECEB;
										    border: 2px solid #252422;
										    color:#252422; width: fit-content;">ON</span>
				{% else %}
				<span class="badge badge-pill" style="border-radius: 40px;
										    background: #252422;
										    border: 2px solid #252422;
										    color: #EDECEB; width: fit-content;">OFF</span>
				{% endif %}
				<div class="overviewcard__info">
					{% show_humidity %}
					{% show_temp %}
				</div>
				{% gpio_17_state %}
			</div>
			<div class="overviewcard">
				<div class="overviewcard__icon">EXHUAST</div>
				{% if gpio_18_state == 1 %}
				<span class="badge badge-pill" style="border-radius: 40px;
										    background: #EDECEB;
										    border: 2px solid #252422;
										    color:#252422; width: fit-content;">ON</span>
				{% else %}
				<span class="badge badge-pill" style="border-radius: 40px;
										    background: #252422;
										    border: 2px solid #252422;
										    color: #EDECEB; width: fit-content;">OFF</span>
				{% endif %}
				<div class="overviewcard__info">
					<form action="{% url 'update_schedule' %}" method="POST" class="exhaust_form">
						{% csrf_token %}
						<div class="item">
							<div class="exhaust_title">HOW OFTEN</div>
						</div>
						<div class="item">
							{{ form.run_time_input4 }}
							{{ form.how_often_minute4 }}
						</div>
						<div class="item">
							<div class="exhaust_title">DURATION HOUR</div>
							<div class="exhaust_title">DURATION MINUTE</div>
						</div>
						<div class="item">
							{{ form.duration_hours4 }}
							{{ form.duration_minutes4 }}
						</div>
						{% for error in form.non_field_errors %}
						<p class="help is-danger">{{ error }}</p>
						{% endfor %}
						<input type="hidden" name="gpio_pin" value="18">
						<button type="submit" class="exhaust_button" value="Submit">Submit</button>
					</form>
				</div>
				{% gpio_18_state %}
			</div>
		</div>
		<div class="main-cards">
			<div class="card">
				<div class="main_card__icon">CLIMATE</div>
				{% current_hum_temp %}
				<div id="chart_content" class="card-body" style="padding-top: 0px;">
					{% climate_tag %}
				</div>
			</div>
			<div class="card">
				<div class="main_card__icon">CLIMATE PARAMETERS</div>
				{% set_climate_form %}
			</div>
			<div class="card">
				<a href="{% url 'download_climate_csv' %}">Download Climate Logs</a>
				<div class="main_card__icon">CLIMATE LOG</div>
				{% log_data %}
			</div>
		</div>
	</main>
</div>

{% endblock %}