{% extends 'base.html' %}
{% load schedule_display %}
{% load climate_display %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% block content %}
<link href="{% static 'css/schedule.css' %}" rel="stylesheet">
<div class="grid-container">
	<main class="main">
		<div class="main-overview">
			<div class="overviewcard">
				<div class="overviewcard__icon">LIGHTING</div>
				<div class="overviewcard__info">
					{% current_lighting_schedule %}
					{% gpio_14_state %}</div>
			</div>
			<div class="overviewcard">
				<div class="overviewcard__icon">WATERING</div>
				<div class="overviewcard__info">
					{% current_watering_schedule %}
					{% gpio_15_state %}</div>
			</div>
			<div class="overviewcard">
				<div class="overviewcard__icon">CLIMATE</div>
				<div class="overviewcard__info">
					{% show_humidity %}
					{% show_temp %}
					{% gpio_17_state %}</div>
			</div>
			<div class="overviewcard">
				<div class="overviewcard__icon">EXHUAST</div>
				<div class="overviewcard__info">
					{% gpio_18_state %}</div>
			</div>
		</div>
		<div class="main-cards">
			<div class="card">{% current_hum_temp %}
				<div id="chart_content" class="card-body" style="padding-top: 0px;">
					{% climate_tag %}
				</div>
			</div>
			<div class="card">
				<div class="main_card__icon">CLIMATE</div>
					{% set_climate_form %}
				</div>
			<div class="card">{% log_data %}</div>
		</div>
	</main>
</div>

{% endblock %}