
{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'css/info.css' %}" rel="stylesheet">
<div class="arc_info_wrapper">
  <div class="info_form">
          <div class="info_title">
            <div class="info_title_text">about your arc</div>
          </div>
          <div class="info_grid_wapper">
              <div class="info_grid">
                <div class="info_grid_title">LIGHTING</div><div class="info_line_left"></div>
                <div class="info_grid_text"><p>lkajsdfoiuclknv.lzn,md;lakhjds;flkjalmnwe;lkfhd
                ;lkzvjh;lzkcxjv;nz,.msendf;lkhj;lcxzkjv;lzkns.
                  lmdnf;alksdj;flncxz.,mnvl;kasjhd;lkfjansdfv;lzcjxkv</p></div>
              </div>
              <div class="info_grid">
                <div class="info_line_right"></div><div class="info_grid_title">WATERING</div>
                <div class="info_grid_text"><p>lkajsdfoiuclknv.lzn,md;lakhjds;flkjalmnwe;lkfhd
                  ;lkzvjh;lzkcxjv;nz,.msendf;lkhj;lcxzkjv;lzkns.
                  lmdnf;alksdj;flncxz.,mnvl;kasjhd;lkfjansdfv;lzcjxkv</p></div>
              </div>
              <div class="info_grid">
                <div class="info_grid_title">CLIMATE</div><div class="info_line_left"></div>
                <div class="info_grid_text"><p>lkajsdfoiuclknv.lzn,md;lakhjds;flkjalmnwe;lkfhd
                  ;lkzvjh;lzkcxjv;nz,.msendf;lkhj;lcxzkjv;lzkns.
                  lmdnf;alksdj;flncxz.,mnvl;kasjhd;lkfjansdfv;lzcjxkv</p></div>
              </div>
              <div class="info_grid">
                <div class="info_line_right"></div><div class="info_grid_title">EXHAUST</div>
                <div class="info_grid_text"><p>lkajsdfoiuclknv.lzn,md;lakhjds;flkjalmnwe;lkfhd
                  ;lkzvjh;lzkcxjv;nz,.msendf;lkhj;lcxzkjv;lzkns.
                  lmdnf;alksdj;flncxz.,mnvl;kasjhd;lkfjansdfv;lzcjxkv</p></div>
              </div>
          </div>
    </div>
  </div>
{% endblock content %}