{% load static %}
{% block content %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link href="{% static 'css/landing_page.css' %}" rel="stylesheet">
<div class="grid__wrapper">
<div class="grid-container">
    <div class="nav_line_container">    
        <div class="nav_line_welcome">WELCOME</div>
        <div class="nav_line"></div>
        <div class="nav_line_login">LOGIN</div>
    </div>
    <div class="header-background">
        
    </div>
</div>
<div class="grid-container">
    <div class="body_background">
        <div class="dot-container">
            <div class="dot">
                <span class="dot__text">
                    GETTING </br> STARTED
                </span> 
            </div>
        </div>
        <div class="body__text">
            <div class="landing_page_steps">01. Step one asdlkfhkjhaslduyoiuzxcv;lakjwernmm,abdsfk,gjblkjhziuoxcvhlzlkjhsdfbanm</div>
            <div class="landing_page_steps">02. Step two asdlkfhkjhaslduyoiuzxcv;lakjwernmm,abdsfk,gjblkjhziuoxcvhlzlkjhsdfbanm</div>
            <div class="landing_page_steps">03. Step three asdlkfhkjhaslduyoiuzxcv;lakjwernmm,abdsfk,gjblkjhziuoxcvhlzlkjhsdfbanm</div>

        </div>
    </div>
    <div class="button__container">
        <button type="submit" id="register_btn" class="arc_buttons">SIGN UP</button>
    </div>
</div>
</div>
{% endblock %}