{% load static %}

<canvas id="myLineChart" width="600" height="300"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
	integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
	crossorigin="anonymous"></script>
<script type="text/javascript">
	var chartColors = {
		red: 'rgb(255, 99, 132)',
		blue: 'rgb(54, 162, 235)'
	};
	var humid_colors = [chartColors.blue,chartColors.blue,chartColors.blue,chartColors.blue,chartColors.blue]
	var temp_colors = [chartColors.red,chartColors.red,chartColors.red,chartColors.red,chartColors.red]
	var ctx_bar = document.getElementById('myLineChart').getContext('2d');
	var bar_chart = new Chart(ctx_bar, {
		type: 'line',
		data: {
			labels: [{% for d in data %} "{{ d.created_at }}", {% endfor %}],
			datasets: [{
				label: 'Humidity',
				data: [{% for hum in data %} "{{ hum.humidity }}", {% endfor %}],
				pointBackgroundColor: 'rgb(255, 99, 132)',
				fill: false,
				backgroundColor: 'grey'
			}, {
				label: "Temperature",
				data: [{% for t in data %} "{{ t.temp }}", {% endfor %}],
				pointBackgroundColor: 'rgb(54, 162, 235)',
				fill: false,
				backgroundColor: 'grey'
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						max: 120,
						min: 0,
						stepSize: 10
					}
				}],
				xAxes: [{
                	ticks: {
						reverse: true,
                    	display: false //this will remove only the label
                	}
            	}]
			}
		}
	});
	// var humid_value = 38; //set this to whatever is the deciding color change value
	// var dataset_humid = bar_chart.data.datasets[0];
	// for (var i = 0; i < dataset_humid.data.length; i++) {
	// 	if (dataset_humid.data[i] >= humid_value) {
	// 		dataset_humid.backgroundColor[i] = chartColors.red;
	// 	}
	// }
	// var temp_value = 28;
	// var dataset_temp = bar_chart.data.datasets[1];
	// for (var i = 0; i < dataset_temp.data.length; i++) {
	// 	if (dataset_temp.data[i] >= temp_value) {
	// 		dataset_temp.backgroundColor[i] = chartColors.red;
	// 	}
	// }
	// bar_chart.update();

</script>