{% block content %}
    <table class="table table-bordered" style="margin-top: 0px;">
        <thead>
            <tr>
                <th>HUMIDITY</th>
                <th>TEMPERATURE</th>
                <th>VPD</th>
                <th>TIMESTAMP</th>
            </tr>
        </thead>
        <tbody>
            {% for d in table_log_data %}
            <tr>
                <td style="font-size: 14px;">{{ d.humidity }}%</td>
                <td style="font-size: 14px;">{{ d.temp }}<span>&#8457;</span></td>
                <td style="font-size: 14px;">{{ d.vpd }}%</td>
                <td style="font-size: 14px;">{{ d.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}