{% extends 'base.html' %}
<!-- {% load schedule_display %}
{% load climate_display %} -->
{% load static %}
{% block content %}
<link href="{% static 'css/schedule.css' %}" rel="stylesheet">
<link href="{% static 'css/notebook.css' %}" rel="stylesheet">
<div class="grid-container">
	<main class="main">

		<div class="main-cards">
			{% for note in notes %}
				<div class="card">
					<div class="main_card__icon">NoteBook</div>
					<h3 class="card-title">{{ note.title }}</h3>
					<h6 class="card-subtitle mb-2 text-muted">{{ note.publish_date }}</h6>
					<div class="item" id="note_text">
						{{ note.body }}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="main-cards">
			<div class="card">
			<form action="{% url 'publish_note' %}" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="arc_buttons" value="Submit">Publish</button>
			</form>
		</div>
	</div>
	</main>
</div>
{% endblock content %}