{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'css/register.css' %}" rel="stylesheet">
<div class="register_wrapper">
    <div class="register_form">
        <div class="title">
            <img src="{% static 'img/arc-logo-dark.png' %}" alt="" height="100">
            <div class="register_line"></div>
        </div>
        <form method="POST" action="" style="padding-top: 20px;">
            {% csrf_token %}
            {% for field in form %}
            <div class="input_wrap">
                {{ field }}
            </div>
            {% endfor %}
            <div class="input_wrap">
                <span class="error_msg">Incorrect username or password. Please try again</span>
                <button type="submit" id="register_btn" class="arc_buttons">SIGN UP</button>
            </div>
        </form>
        <div class="register-footer">
            Already Have An Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </div>
    </div>
</div>
{% endblock content %}