{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% load crispy_forms_tags %}

{% if gpio_17_state == 1 %}
<span class="badge badge-pill" style="background-color: #008744; color: white;">ON</span>
<form action="{% url 'relay_on_off' %}" method="POST" style="padding-top: 5px; width: 100%;">
	{% csrf_token %}
	<input type="hidden" name="17" value="17">
	<input type="hidden" name="next" value="{{ request.path }}">
	<div class="btn-group btn-group-sm btn-block" role="group" aria-label="Basic example">
		<button type="submit" class="arc_buttons" name="status" value="False">OFF</button>
		<!-- {% if gpio_17_auto_state == 1 %}
		<button type="submit" class="arc_buttons" name="auto_status" value="False">Automation OFF</button>
		{% else %}
		<button type="submit" class="arc_buttons" name="auto_status" value="True">Automation ON</button>
		{% endif %} -->
	</div>
</form>
{% else %}
<span class="badge badge-pill" style="background-color: #d62d20; color: white;">OFF</span>
<form action="{% url 'relay_on_off' %}" method="POST" style="padding-top: 5px; width: 100%;">
	{% csrf_token %}
	<input type="hidden" name="17" value="17">
	<input type="hidden" name="next" value="{{ request.path }}">
	<div class="btn-group btn-group-sm btn-block" role="group" aria-label="Basic example">
		<button type="submit" class="arc_buttons" name="status" value="True">ON </button>
		<!-- {% if gpio_17_auto_state == 1 %}
		<button type="submit" class="arc_buttons" name="auto_status" value="False">Automation OFF</button>
		{% else %}
		<button type="submit" class="arc_buttons" name="auto_status" value="True">Automation ON</button>
		{% endif %} -->
	</div>
</form>
{% endif %}