{% extends 'base.html' %}
{% load schedule_display %}
{% load climate_display %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% block content %}
<link href="{% static 'css/schedule.css' %}" rel="stylesheet">
<div class="grid-container">
	<main class="main">
		<div class="main-overview">
			<div class="overviewcard">
				<div class="overviewcard__icon">LIGHTING</div>
				<div class="overviewcard__info">
				{% current_lighting_schedule %}
				{% gpio_14_state %}</div>
			</div>
			<div class="overviewcard">
				<div class="overviewcard__icon">WATERING</div>
				<div class="overviewcard__info">
				{% current_watering_schedule %}
				{% gpio_15_state %}</div>
			</div>
			<div class="overviewcard">
				<div class="overviewcard__icon">CLIMATE</div>
				<div class="overviewcard__info">
				{% show_humidity %}
				{% show_temp %}
				{% gpio_17_state %}</div>
			</div>
			<div class="overviewcard">
				<div class="overviewcard__icon">EXHUAST</div>
				<div class="overviewcard__info">
				{% gpio_18_state %}</div>
			</div>
		</div>
		<div class="main-cards">
			<div class="card">
				<div class="main_card__icon">SCHEDULE</div>
				<form action="{% url 'update_schedule' %}" method="POST" class="schedule_form">
					{% csrf_token %}
						<div class="item">
							<div>HOW OFTEN</div>
							<div>HOUR</div>
							<div>MINUTE</div>
						</div>
						<div class="item">
								{{ form.how_often_hour }}
								{{ form.duration_hours }}
								{{ form.duration_minutes }}
								{{ form.how_often_day }}
						</div>
						<div class="item">
								{{ form.how_often_hour1 }}
								{{ form.duration_hours1 }}
								{{ form.duration_minutes1 }}
								{{ form.how_often_day1 }}
						</div>
						<div class="item">
								{{ form.how_often_hour2 }}
								{{ form.duration_hours2 }}
								{{ form.duration_minutes2 }}
								{{ form.how_often_day2 }}
						</div>
						<div class="item">
								{{ form.how_often_hour3 }}
								{{ form.duration_hours3 }}
								{{ form.duration_minutes3 }}
								{{ form.how_often_day3 }}
						</div>
					{% for error in form.non_field_errors %}
					<p class="help is-danger">{{ error }}</p>
					{% endfor %}
					{{ form.gpio_pin }}
					<button type="submit" class="arc_buttons" value="Submit">Submit</button>
				</form>
			</div>
			<div class="card">
				<div class="main_card__icon">WATERING LOG</div>
				{% show_gpio_15_schedule_log %}
			</div>
			<div class="card">
				<div class="main_card__icon">LIGHTING LOG</div>
				{% show_gpio_14_schedule_log %}
			</div>
		</div>
	</main>
</div>

{% endblock content %}