{% extends 'base.html' %}
{% load schedule_display %}
{% load static %}
{% block content %}
<link href="{% static 'css/schedule.css' %}" rel="stylesheet">
<div class="grid-container">
	<main class="main">
		{% overview_cards %}
		<div class="main-cards">
			<div class="card" id="schedule_card_id">
				<div class="main_card__icon">SCHEDULE</div>
				<form action="{% url 'update_schedule' %}" method="POST" class="schedule_form">
					{% csrf_token %}
					{{ form.gpio_pin }}
					<div class="item">
						<div>RUN TIME</div>
						<div>HOUR</div>
						<div>MINUTE</div>
						<div>HOW OFTEN</div>
					</div>
					<div class="item">
						{{ form.run_time_input }}
						{{ form.duration_hours }}
						{{ form.duration_minutes }}
						{{ form.how_often_day }}
					</div>
					<div class="item">
						{{ form.run_time_input1 }}
						{{ form.duration_hours1 }}
						{{ form.duration_minutes1 }}
						{{ form.how_often_day1 }}
					</div>
					<div class="item">
						{{ form.run_time_input2 }}
						{{ form.duration_hours2 }}
						{{ form.duration_minutes2 }}
						{{ form.how_often_day2 }}
					</div>
					<div class="item">
						{{ form.run_time_input3 }}
						{{ form.duration_hours3 }}
						{{ form.duration_minutes3 }}
						{{ form.how_often_day3 }}
					</div>
					{% for error in form.non_field_errors %}
					<p class="help is-danger">{{ error }}</p>
					{% endfor %}
					<button type="submit" class="arc_buttons" value="Submit">Submit</button>
				</form>
				<div class="main_card__icon">Exhaust SCHEDULE</div>
				<form action="{% url 'update_schedule' %}" method="POST" class="exhaust_form">
					{% csrf_token %}
					<div class="item">
						<div class="exhaust_title">HOW OFTEN</div>
					</div>
					<div class="item">
						{{ form.run_time_input4 }}
						{{ form.how_often_minute4 }}
					</div>
					<div class="item">
						<div class="exhaust_title">DURATION HOUR</div>
						<div class="exhaust_title">DURATION MINUTE</div>
					</div>
					<div class="item">
						{{ form.duration_hours4 }}
						{{ form.duration_minutes4 }}
					</div>
					{% for error in form.non_field_errors %}
					<p class="help is-danger">{{ error }}</p>
					{% endfor %}
					<input type="hidden" name="gpio_pin" value="3">
					<button type="submit" class="arc_buttons" value="Submit">Submit</button>
				</form>
				<form action="{% url 'start_automation' %}" method="POST" class="exhaust_automation_form">
					{% csrf_token %}
					<button type="submit" class="arc_buttons" value="Submit">Start Automation</button>
				</form>

				<div class="main_card__icon">DELETE SCHEDULE</div>
				{% remove_schedule %}
			</div>
			<div class="card">
				<div class="main_card__icon">LIGHTING LOG</div>
				{% show_gpio_14_schedule_log %}
			</div>
			<div class="card">
				<div class="main_card__icon">WATERING LOG</div>
				{% show_gpio_15_schedule_log %}
			</div>
			<div class="card">
				<div class="main_card__icon">Exhaust LOG</div>
				{% show_gpio_3_schedule_log %}
			</div>
		</div>
	</main>
</div>


{% endblock content %}